@font-face {
    font-family: "CascadiaMono";
    src: url("../other/CascadiaMono.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'CascadiaMono', serif;
    background-color: #000;
}

.main {
    padding: 20px;
}

.command {
    color: #fff;
}

.result {
    color: #627597;
    margin: 0;
    width: 1000px;
    padding-left: 30px;
}

.green {
    color: #00cfc8;
}

.blue {
    color: #0099ff;
}

.white_highlight {
    color: #000;
    background-color: #fff;
}

.pseudo {
    color: #0099ff;
    text-shadow:
            0 0 2px #1aa3ff,
            0 0 4px #33adff,
            0 0 6px #4db8ff,
            0 0 10px #66c2ff,
            0 0 45px #80ccff,
            0 0 55px #99d6ff;
}


.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: center;
    vertical-align: center;
}